
/**********************************/
/*********** Review CSS ***********/
/**********************************/
.review {
    margin-bottom: 30px;
}

.review .review-slider {
    position: relative;
}

.review .review-slider-item {
    display: flex;
    align-items: center;
    flex-direction: row;
    background: #ffffff;
}

.review .review-img {
    width: 100%;
    max-width: 200px;
    overflow: hidden;
}

.review .review-img img {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.review .review-text {
    padding: 15px;
    width: 100%;
    max-width: calc(100% - 200px);
}

.review .review-text h2 {
    font-size: 22px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text h3 {
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.review .review-text p {
    margin: 0;
}

.review .review-text .ratting {
    margin-bottom: 5px;
}

.review .review-text .ratting i {
    color: #FF6F61;
    font-size: 14px;
}

.review .slick-slider:hover .slick-prev {
    left: 30px;
}

.review .slick-slider:hover .slick-next {
    right: 30px;
}

