

/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  padding: 3px 0;
  font-size: 14px;
  color: #FF6F61;
  background: #000000;
}

.top-bar i {
  margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
  text-align: left;
}

.top-bar .col-sm-6:last-child {
  text-align: right;
}

@media (max-width: 575.98px) {
  .top-bar {
      border-bottom: 1px solid rgba(255,255,255,.1);
  }
  
  .top-bar .col-sm-6:first-child,
  .top-bar .col-sm-6:last-child {
      text-align: center;
  }
}


/**********************************/
/*********** Nav Bar CSS **********/
/**********************************/
.nav {
  position: relative;
}

@media (min-width: 992px) {
  .nav .container-fluid {
      padding-left: 52px;
      padding-right: 52px;
  }
}

.nav .navbar {
  height: 100%;
  padding: 0;
}

.nav .dropdown-menu {
  margin-top: 0;
  border: 0;
  border-radius: 0;
  background: #FF6F61;
}

.nav .dropdown-menu a.active {
  color: #353535;
  background: #f8f9fa;
}

@media (min-width: 768px) {
  .nav,
  .nav .navbar {
      background: #FF6F61 !important;
  }
  
  .nav .navbar-brand {
      display: none;
  }
  
  .nav .navbar-dark a.nav-link {
      color: #ffffff;
      font-size: 14px;
      text-transform: uppercase;
  }
  
  .nav .navbar-dark a.nav-link:hover,
  .nav .navbar-dark a.nav-link.active {
      color: #000000;
  }
}

@media (max-width: 768px) {
  .nav {
      padding: 5px 0;
  }
  
  .nav,
  .nav .navbar {
      background: #000000 !important;
  }
  
  .nav a.nav-link {
      padding: 5px 0;
  }
  
  .nav .dropdown-menu {
      box-shadow: none;
  }
}


/**********************************/
/********** Top Bar CSS ***********/
/**********************************/
.top-bar {
  padding: 3px 0;
  font-size: 14px;
  color: #FF6F61;
  background: #000000;
}

.top-bar i {
  margin-right: 5px;
}

.top-bar .col-sm-6:first-child {
  text-align: left;
}

.top-bar .col-sm-6:last-child {
  text-align: right;
}

@media (max-width: 575.98px) {
  .top-bar {
      border-bottom: 1px solid rgba(255,255,255,.1);
  }
  
  .top-bar .col-sm-6:first-child,
  .top-bar .col-sm-6:last-child {
      text-align: center;
  }
}

