<body>
  <app-nav-menu></app-nav-menu>
  <div class="container">
            
       <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="assets/img/logo.png" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="search">
                            <input type="text" placeholder="Search">
                            <button><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->       
        
    <router-outlet></router-outlet>
        <!-- Main Slider Start -->
        <!-- Main Slider End -->      
        
        <!-- Brand Start -->
        <!-- Brand End -->      
        
        <!-- Feature Start-->
        <!-- Feature End-->      
        
        <!-- Category Start-->
        <!-- Category End-->       
        
        <!-- Call to Action Start -->
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
        <!-- Featured Product End -->       
        
        <!-- Newsletter Start -->
        <!-- Newsletter End -->        
        
        <!-- Recent Product End -->
        
        <!-- Review End -->        
        
        <!-- Footer Start -->
        <app-footer></app-footer>
        <!-- Footer End -->
        
        <!-- Footer Bottom Start -->
 
        <!-- Footer Bottom End -->       
        
        <!-- Back to Top -->
      

  </div>
</body>
