<!-- Main Slider Start -->
<div class="header">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-3">
              <nav class="navbar bg-light">
                  <ul class="navbar-nav">
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-home"></i>Home</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-shopping-bag"></i>Best Selling</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-plus-square"></i>New Arrivals</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-female"></i>Fashion & Beauty</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-child"></i>Kids & Babies Clothes</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-tshirt"></i>Men & Women Clothes</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-mobile-alt"></i>Gadgets & Accessories</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#"><i class="fa fa-microchip"></i>Electronics & Accessories</a>
                      </li>
                  </ul>
              </nav>
          </div>
          <div class="col-md-6">
           
                <ngx-slick-carousel class="header-slider normal-slider" 
                    #slickModal="slick-carousel" 
                    [config]="slideConfig" 
                    (init)="slickInit($event)"
                    (breakpoint)="breakpoint($event)"
                    (afterChange)="afterChange($event)"
                    (beforeChange)="beforeChange($event)">
                    <div ngxSlickItem *ngFor="let slide of slides" class="header-slider-item">
                        <div class="header-slider-item">
                            <img src="{{ slide.img }}" alt="Slider Image" />
                            <div class="header-slider-caption">
                                <p>Some text goes here that describes the image</p>
                                <a class="btn" href=""><i class="fa fa-shopping-cart"></i>Shop Now</a>
                            </div>
                        </div> 
                    </div>
                </ngx-slick-carousel>

<button (click)="removeSlide()">Remove</button>
<button (click)="slickModal.slickGoTo(2)">slickGoto 2</button>
<button (click)="slickModal.unslick()">unslick</button>


          </div>
          <div class="col-md-3">
              <div class="header-img">
                  <div class="img-item">
                      <img src="assets/img/category-1.jpg" />
                      <a class="img-text" href="">
                          <p>Some text goes here that describes the image</p>
                      </a>
                  </div>
                  <div class="img-item">
                      <img src="assets/img/category-2.jpg" />
                      <a class="img-text" href="">
                          <p>Some text goes here that describes the image</p>
                      </a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- Main Slider End -->      

<!-- Brand Start -->
<app-slider-marcas></app-slider-marcas>

<!-- Brand End -->  

<!-- Feature Start-->
<app-features></app-features>
<!-- Feature End-->      

        
<!-- Category Start-->
<app-banner-categorias></app-banner-categorias>
<!-- Category End-->       
      
<!-- Call to Action Start -->
        <div class="call-to-action">
          <div class="container-fluid">
              <div class="row align-items-center">
                  <div class="col-md-6">
                      <h1>call us for any queries</h1>
                  </div>
                  <div class="col-md-6">
                      <a href="tel:0123456789">+012-345-6789</a>
                  </div>
              </div>
          </div>
      </div>
      <!-- Call to Action End -->  

   <!-- Featured Product Start -->
<app-slider-productos [tipoSlider]="tipoSlider1"></app-slider-productos>
<!-- Featured Product End -->       


<!-- Newsletter Start -->
<div class="newsletter">
          <div class="container-fluid">
              <div class="row">
                  <div class="col-md-6">
                      <h1>Subscribe Our Newsletter</h1>
                  </div>
                  <div class="col-md-6">
                      <div class="form">
                          <input type="email" value="Your email here">
                          <button>Submit</button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Newsletter End -->        

<!-- Recent Product Start -->
<app-slider-recent></app-slider-recent>
<!-- Recent Product End -->

<!-- Review Start -->
<app-slider-review></app-slider-review>
<!-- Review End -->        

